.post{
    display: flex;
    padding: 10px 16px;
    border-top: 3px solid var(--color-bor);
    .body{
        flex: 1 1 100%;
        padding-left: 10px;
    }

    .header{
        overflow: hidden;
    }
    .description{
        margin-top: 10px;
        font-size: 18px;
    }
    .img{
        margin-top: 20px;
        overflow: hidden;
        img{
        border-radius: 20px;

            width: 100%;
        }
        object-fit: cover;
        
    }
    .tags{
        display: flex;
        gap: 10px;
        li{
            a{
                color: var(--color);
            }
        }
    }
   .activity{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        li{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .icon{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 34px;
        }
    }
    .activity_c:hover{
        cursor: pointer;
        color: var(--color);
        .icon{
            border-radius: 30px;
            background-color: var(--color-bg);
        }
    }
    .activity_l:hover{
        cursor: pointer;
        color: #ff1b58;
        .icon{
            border-radius: 30px;
            background-color: #FF82A3 ;
        }
    }
}

.userinfo {
    margin-top: 5px;
    display: inline-flex;
    gap:10px;
    .name{

        font-size: 18px;
        font-weight: 600;
        a{
            color: #111
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .link{
        font-size: 16px;
        color: var(--color);
    }
}
.postText{
    margin-top: 10px;
}
