.postBox{
    padding: 10px 16px;
    border-top: 3px solid var(--color-bor);
    display: flex;
    form{
        padding-left: 10px;
        width: 100%;
    }

    .avatar{
        display: inline-block;
        flex: 0.3;
        text-align: center;
    }

    .input{
        display: inline-flex;
        width: 100%;
    } 

    textarea{
        resize: none;
    }
    textarea::-webkit-scrollbar{
        display: none;
    }   

    .uploadedImg{
        position: relative;
        img{
            z-index: 1;
            width: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
        .removeImgButton{
            z-index: 99;
            position: absolute;
            top: 0;
            left: 0;
        }
        .removeImgButton:hover{
           color:  wheat;
        }   
        
    }
    .buttons{
        margin-top: 10px;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
}

.inputField{
    margin-top: 5px;
    flex: 1 1 100%;
    font-size: 20px;
}
