@import url('../components/UI/Button.scss');

.App {
  font-family: Heebo;
  .content{
    flex: 0.6;
    border-radius: 30px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }   
    padding: 10px 0;
    border: 1px solid var(--color-bor);
   
  }
}
.flex {
  display: flex;
}
body{
  --color: #50b7f5;
  --color-bg: #e8f5fe;
  --color-bor: #b5e0ff;
}
.row {
  display: inline-flex;
  width: 100%;
}
a{
  color: #e8f5fe;
}